h1 {
    color: red;
    font: italic;
    font-style: italic;
    margin-left: 30px
    
}
/** {
    border: solid
}*/
.header {
    background-color: #abc576;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer {
    background-color: #def150;
    display: flex;
    justify-content: flex-end;
}
.description {
    text-align: center;
}
body {
    background-color: #808080;
}

a:link{
    color:white
}
a:visited{
    color:white
}
.menu a{
    margin-left: 20px
}
.item {
    position:relative

}
.item p{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}